.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 8rem 0;
}

.content {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoContainer h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 0.4rem 0.8rem;
}

.content h2 {
  font-size: 2.6rem;
  font-weight: 600;
  color: #d8d8d8;
}

.content span {
  font-size: 1.6rem;
  font-weight: 400;
  color: #9b9b9b;
  line-height: 2rem;
}

.linksContainer {
  display: flex;
  align-items: center;
  margin: 2.5rem 0 0 0;
}

.linksContainer a:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #212121;
  color: #ffffff;
  border-radius: 3px;
  width: fit-content;
  padding: 1rem 2rem;
  transition: 0.5s;
  font-size: 1.2rem;
  font-weight: 500;
}

.linksContainer a:first-child:hover {
  background-color: #3f69d6;
  box-shadow: 0 0 8px black;
}

.linksContainer a:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  width: fit-content;
  margin: 1rem 2rem;
  transition: 0.5s;
  font-size: 1.2rem;
  font-weight: 500;
}

.linksContainer a:last-child:hover {
  color: #3f69d6;
}

.twitterButton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  border-radius: 3px;
  width: fit-content;
  padding: 0.8rem 1.2rem;
  transition: 0.5s;
  font-size: 1.25rem;
}

.twitterButton:hover {
  background-color: rgb(20, 20, 20);
}

.twitterButton svg {
  fill: #ffffff;
  margin-right: 0.6rem;
  transition: 0.5s;
}

.twitterButton:hover svg {
  fill: rgb(29, 155, 240);
}